<ul class="timeline position">
  <li>
    <div class="timeline-badge">{{timeLineDataArray[0].month}}<br/>{{timeLineDataArray[0].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <img class="logo-image" src="./assets/images/mikkim.png">
        <div>
          <h4 class="timeline-title">{{timeLineDataArray[0].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[0].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[0].duration}}</span>
        </div>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge">{{timeLineDataArray[1].month}}<br/>{{timeLineDataArray[1].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <div class="img-right">
          <h4 class="timeline-title">{{timeLineDataArray[1].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[1].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[1].duration}}</span>
        </div>
        <img class="mactores" src="./assets/images/mactores.png">
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge">{{timeLineDataArray[2].month}}<br/>{{timeLineDataArray[2].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <img class="logo-image nucps" src="./assets/images/nucps.jpeg">
        <div>
          <h4 class="timeline-title">{{timeLineDataArray[2].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[2].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[2].duration}}</span>
        <div style="color: #8f8f8f;">May 2019 - Jul 2019</div>
        </div>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge">{{timeLineDataArray[3].month}}<br/>{{timeLineDataArray[3].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <div class="img-right" style="margin-right: 8% !important;">
          <h4 class="timeline-title">{{timeLineDataArray[3].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[3].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[3].duration}}</span>
        </div>
        <img class="north-eastern-img" src="./assets/images/Northeastern.png">
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge">{{timeLineDataArray[4].month}}<br/>{{timeLineDataArray[4].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <img class="logo-image" src="./assets/images/manit.png">
        <div>
          <h4 class="timeline-title">{{timeLineDataArray[4].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[4].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[4].duration}}</span>
        </div>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge">{{timeLineDataArray[5].month}}<br/>{{timeLineDataArray[5].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <div class="img-right">
          <h4 class="timeline-title">{{timeLineDataArray[5].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[5].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[5].duration}}</span>
        </div>
        <img class="logo-image-invert ibm-img" src="./assets/images/ibm.png">
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge">{{timeLineDataArray[6].month}}<br/>{{timeLineDataArray[6].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <img class="logo-image" src="./assets/images/iiit.png">
        <div>
          <h4 class="timeline-title">{{timeLineDataArray[6].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[6].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[6].duration}}</span>
        </div>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge">{{timeLineDataArray[7].month}}<br/>{{timeLineDataArray[7].year}}</div>
    <div class="timeline-panel">
      <div class="timeline-heading head-contain">
        <div class="img-right">
          <h4 class="timeline-title">{{timeLineDataArray[7].position}}</h4>
        <div style="color: #8f8f8f;">{{timeLineDataArray[7].institute}}</div>
        <span style="color: #8f8f8f;">{{timeLineDataArray[7].duration}}</span>
        </div>
        <img class="logo-image-invert" src="./assets/images/rgpv.png">
      </div>
    </div>
  </li>
</ul>