<div class="col-md-4">
  <div class="wrapper">
    <h1>
      <i class="fas fa-code"></i> Skills <i class="fas fa-chart-area"></i>
    </h1>
    <div class="skill">
      <p>HTML5 <i class="fab fa-html5"></i></p>
      <div class="skill-bar skill1">
        <span class="skill-count1">95%</span>
      </div>
    </div>
    <div class="skill">
      <p>CSS3 <i class="fab fa-css3-alt"></i></p>
      <div class="skill-bar skill2 wow slideInLeft animated">
        <span class="skill-count2">85%</span>
      </div>
    </div>
    <div class="skill">
      <p>JQUERY</p>
      <div class="skill-bar skill3 wow slideInLeft animated">
        <span class="skill-count3">75%</span>
      </div>
    </div>
    <div class="skill">
      <p>JAVASCRIPT <i class="fab fa-js-square"></i></p>
      <div class="skill-bar skill4 wow slideInLeft animated">
        <span class="skill-count4">65%</span>
      </div>
    </div>
    <div class="skill">
      <p>PHP <i class="fab fa-php"></i></p>
      <div class="skill-bar skill5 wow slideInLeft animated">
        <span class="skill-count5">80%</span>
      </div>
    </div>
    <div class="skill">
      <p>WORDPRESS <i class="fab fa-wordpress"></i></p>
      <div class="skill-bar skill6 wow slideInLeft animated">
        <span class="skill-count6">90%</span>
      </div>
    </div>
    <div class="gradient-overlay"></div>
  </div>
</div>