.header {
  line-height: 3;
  background-color: #d3d3d3;;
  text-align: center;
  font-size: large;
}

a:hover {
  text-decoration: none;
  color: white;
}

.header-item:hover {
  color: white;

}
.header-item {
  color: #5f5f5f;
}

.footer-span {
  color: black;
}

.footer-span:hover {
  color: white;
}

.about{
  margin: 2%;
}

#chartdiv{
  overflow: hidden;
}

.resume-portfolio-pic {
      border-radius: 50%; 
      height: 200px;
      width: 200px; 
      margin: 0 auto;
      display: block; 
      margin-left: 10px;   
  }
.resume-name { 
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 50px;
  background-color: transparent;
  opacity: 0.9;
  }

.location {
  text-align: center;
  color: #5f5f5f;
}
.positioning {
  padding-top: 10px;
}

.position {
  margin-top: 20px;
}

  @media screen and (max-width: 600px) {
    .flip-card {
      padding-top: 5%;
    }
 }
 @media screen and (max-width: 600px) {
  .img {
   width: 32%;
  }
}
          
      @media only screen and ( min-width: 1100px ) and ( max-width: 1405px) {
          
      }
      
      @media only screen and ( min-width: 992px ) {
          #experience .col-md-7 { border-left: 2px solid black; }
          #education .col-md-8 { border-left: 2px solid black; }
      }
      
      
      @media only screen and (max-width: 1200px) {
          
      }
      
      
      @media only screen and (max-width: 990px) {
      
          .past-employer { border-bottom: 1px solid #dedede; margin-bottom: 20px; }
          .past-employer:last-child { border-bottom: none; margin-bottom: 0; }
          
          .past-school { border-bottom: 1px solid #dedede; }
          .past-school:last-child { border-bottom: none !important; }
          
          #references .col-md-4 { margin-bottom: 20px; }
          
          #experience .employer-img { padding-top: 0; max-width: 200px; }
          
          
      }
      
      @media only screen and (max-width: 960px) {
          
      }
      
      @media only screen and ( max-width: 768px ) {
          
      }
          
      @media only screen and (max-width: 665px) {
          .specializations ul { padding-left: 0; }
          .skill-text { margin-bottom: 0; }
      }
          
      @media only screen and (max-width: 567px) {
          #computers ul { padding-left: 10px; }
      }
      
      @media only screen and (max-width: 420px) {
          #extra-skills { display: none; }
      }
      

#titel {
  z-index:2;
  left: 0;
  position:absolute;
  text-align:center;
  top: 65%;
  width: 100%;
  font-weight: 600;
  z-index:4;
}

h2 {
  font-size:.3em;
  font-weight: 200;
  margin: 0;
  z-index: 4;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.3rem;
  background-color: #FFFFFF;
  text-align: center;
  font-size: .6em;
  font-weight:100;
  color: #bfbfbf;
  z-index: 4;
}

.copyright-footer {
  margin: 0% 11.5% 0.3% 11.5%;
  background-color: #d3d3d3;
}

.cover-picture {
  background-image: url('../assets/images/northeastern_background5.png');
}

.hobbies-title {
  text-align: center;
  font-size: 40px; 
  color: #337ab7; 
  margin-bottom: 1%;
}

@media only screen and (max-width: 420px) {
  .resume-name {
    color: #5f5f5f;
    font-size: 35px;
  }

  .resume-portfolio-pic {
    margin-top: 1%;
    margin-left: 20%;
  }

  .copyright-footer {
    margin : 0;
    text-align: center;
  }

  .hobbies-title {
    text-align: center;
    font-size: large;
  }

  h1 {
    font-size: large;
  }
}
