  <div class="container">
      <div class="row header">
        <div class="col-md-3">
          <a  class="header-item"><i class="fas fa-laptop-code"></i> Skills</a>
        </div>
        <div class="col-md-3">
          <a class="header-item" href="#project"><i class="fas fa-file-alt"></i> Projects</a>
        </div>
        <div class="col-md-3">
          <a class="header-item" href="#hobbies"><i class="fas fa-camera-retro"></i> Hobbies</a>
        </div>
        <div class="col-md-3">
          <a class="header-item" href="#connect"><i class="fas fa-address-card"></i> Connect </a>
        </div>
      </div>
    </div>
<div class="container">
  <div class="row cover-picture">
    <div class="col-md-4">
      <img class="resume-portfolio-pic" src="./assets/images/avatar.jpg"/>
    </div>
    <div class="col-md-8">
      <div class="resume-name">
        Swapnil Lokhande
      </div>
    </div>
  </div>
  <div class="row">
    <div class="about">
      <h3 style="text-align: center; color: #337ab7;">About <i class="fas fa-user"></i></h3>
      <p style="text-align: justify; color: #8f8f8f;"><i>{{description}}</i></p>
    </div>
  </div>
  <div class="row">
    <div class="positioning"></div>
    <div class="col-md-4 location">
      <i style="color: #337ab7" class="fas fa-map-marker-alt"></i> 325 Riverway, Boston, Massachusetts
    </div>
    <div class="col-md-4 location"><i style="color: #337ab7" class="fas fa-at"></i> swapnil2tacg@gmail.com</div>
    <div class="col-md-4 location">
      <i style="color: #337ab7" class="fas fa-phone"></i> +1 (857) 930 1725
    </div>
  </div>
</div>
<!-- Timeline -->
<div style="margin-top: 10px;" class="container">
  <app-timeline-nodes></app-timeline-nodes>
</div>

<!-- Project Tiles -->
<app-project-cards id="project"></app-project-cards>

<!-- Skills Counter-->
<div id="hobbies" style="text-align: center; font-size: 40px; color: #337ab7; margin-bottom: 1%;" class="row">Hobbies <i class="fab fa-playstation"></i></div>
<div class="container position">
    <!-- <app-skills-counter></app-skills-counter> -->
    <div class="col-md-4">
      <!-- <div>
        <p>fghkmnfklghnfl;hkfnghl;fkghfnhgflk;hkfgk</p>
      </div> -->
      <video width="350" height="180" controls muted autoplay loop>
        <source src="../assets/videos/convocation.mp4" type="video/mp4">
      </video>
    </div>
  <div class="col-md-8">
    <app-photo-grid></app-photo-grid>
  </div>
</div>
<!-- Map-->
<div class="container position">
  <div class="row">
    <h1 style="text-align: center; color: #337ab7;">
      <i>Wonderlust <i class="fas fa-plane-departure"></i></i>
    </h1>
    <div class="col-md-12">
      <div id="chartdiv" style="width: 100%; height: 250px;"></div>
    </div>
  </div>
</div>

  <div id="connect" class="container">
      <div class="row header">
        <div class="col-md-2">
          <span class="footer-span">
            <a href="goole.com" target="_"><i class="fab fa-linkedin"></i></a> Linkedin
          </span>
        </div>
        <div class="col-md-2">
          <a><i class="fab fa-skype"></i></a> Skype
        </div>
        <div class="col-md-2">
          <a><i class="fab fa-kaggle"></i></a> Kaggle
        </div>
        <div class="col-md-2">
          <a><i class="fab fa-twitter"></i></a> Twitter
        </div>
        <div class="col-md-2">
          <a><i class="fab fa-github"></i></a> Github
        </div>
        <div class="col-md-2">
          <a><i class="fab fa-youtube"></i></a> Youtube
        </div>
      </div>
    </div>
